@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  /* 🎨 SISTEMA DE CORES - Maricá Agora */
  --theme-bg: #f8fafc;
  --theme-primary: #b91c1c; /* Vermelho News */
  --theme-details: #1e3a8a; /* Azul Profundo */
  --theme-text-main: #1f2937;
}

@theme inline {
  --color-theme-primary: var(--theme-primary);
  --color-theme-details: var(--theme-details);
  --color-theme-bg: var(--theme-bg);

  --font-display: var(--font-playfair);
  --font-body: var(--font-merriweather);
  --font-sans: var(--font-inter);
}

body {
  background: var(--theme-bg);
  color: var(--theme-text-main);
  font-family: var(--font-inter), sans-serif;
}

/* Utilitários */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
